body{
    background-color: rgb(220,255,220);
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6em;
    text-align: center;
    left: 10em;}
#wrapper{ 
    color: rgb(120,170,140);
    position: absolute; 
    top: 0px; 
    left: 50%; 
    margin-left: -280px;
    left: 20em;
    top: 7em;}
p.copyright{
    position: absolute;
    bottom: 1em;
    margin-left: 2.5em;
    text-align: center;
    font-size: 60%;
    font-family: courier;
    color: rgb(120,150,170);}
p.email{
    position: absolute;
    bottom: 1em;
    margin-left: 12em;
    text-align: center;
    font-size: 60%;
    font-family: courier;
    color: rgb(120,150,170);}