.div2 {position: relative;}
.div1 {height: 83.5vh; width: 99vw; position: absolute;}

.logos {position: absolute;}

.row1 {width: 99.217vw;}

.row1 img {margin-top: 1.5%;}

.BTC  {margin-left:13.40%;}
.ETH  {margin-left:14.90%;}
.NEO  {margin-left:14.30%;}
.GAS  {margin-left:14.80%;}
.XMR  {margin-left:14.90%;}
.ZEC  {margin-left:15.00%;}

.row2 {margin-top: 2%;}

.XLM  {margin-left:13.40%;}
.OMG  {margin-left:14.90%;}
.REQ  {margin-left:14.30%;}
.LINK {margin-left:14.80%;}
.NANO {margin-left:14.90%;}
.WAN  {margin-left:15.00%;}